<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="WebServiceAutorSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceAutorSoap1" />
                        <binding name="WebServiceLibroSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceLibroSoap1" />
                        <binding name="WebServiceMultaSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceMultaSoap1" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="https://localhost:44325/WebServiceAutor.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceAutorSoap"
                        contract="ServiceAutor.WebServiceAutorSoap" name="WebServiceAutorSoap" />
                <endpoint address="https://localhost:44325/WebServiceLibro.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceLibroSoap"
                        contract="ServiceLibro.WebServiceLibroSoap" name="WebServiceLibroSoap" />
                <endpoint address="https://localhost:44325/WebServiceMulta.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceMultaSoap"
                        contract="ServiceMulta.WebServiceMultaSoap" name="WebServiceMultaSoap" />
        </client>
    </system.serviceModel>
</configuration>