<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="WebServiceAutorSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceAutorSoap1" />
                        <binding name="WebServiceCategoriaSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceCategoriaSoap1" />
                        <binding name="WebServiceAutorSoap2">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceAutorSoap3" />
                        <binding name="WebServiceCategoriaSoap2">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceCategoriaSoap3" />
                        <binding name="WebServiceClienteSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceClienteSoap1" />
                        <binding name="WebServiceEmpleadoSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceEmpleadoSoap1" />
                        <binding name="WebServiceLibroSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceLibroSoap1" />
                        <binding name="WebServiceMultaSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServiceMultaSoap1" />
                        <binding name="WebServicePrestamoSoap">
                                <security mode="Transport" />
                        </binding>
                        <binding name="WebServicePrestamoSoap1" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="https://localhost:44325/WebServiceAutor.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceAutorSoap"
                        contract="ServiceAutor.WebServiceAutorSoap" name="WebServiceAutorSoap" />
                <endpoint address="https://localhost:44325/WebServiceCategoria.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceCategoriaSoap"
                        contract="ServiceCategoria.WebServiceCategoriaSoap" name="WebServiceCategoriaSoap" />
                <endpoint address="https://localhost:44325/WebServiceAutor.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceAutorSoap2"
                        contract="ServiceAutor.WebServiceAutorSoap" name="WebServiceAutorSoap1" />
                <endpoint address="https://localhost:44325/WebServiceCategoria.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceCategoriaSoap2"
                        contract="ServiceCategoria.WebServiceCategoriaSoap" name="WebServiceCategoriaSoap1" />
                <endpoint address="https://localhost:44325/WebServiceCliente.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceClienteSoap"
                        contract="ServiceCliente.WebServiceClienteSoap" name="WebServiceClienteSoap" />
                <endpoint address="https://localhost:44325/WebServiceEmpleado.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceEmpleadoSoap"
                        contract="ServiceEmpleado.WebServiceEmpleadoSoap" name="WebServiceEmpleadoSoap" />
                <endpoint address="https://localhost:44325/WebServiceLibro.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceLibroSoap"
                        contract="ServiceLibro.WebServiceLibroSoap" name="WebServiceLibroSoap" />
                <endpoint address="https://localhost:44325/WebServiceMulta.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceMultaSoap"
                        contract="ServiceMulta.WebServiceMultaSoap" name="WebServiceMultaSoap" />
                <endpoint address="https://localhost:44325/WebServicePrestamo.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServicePrestamoSoap"
                        contract="ServicePrestamo.WebServicePrestamoSoap" name="WebServicePrestamoSoap" />
        </client>
    </system.serviceModel>
</configuration>